*::-webkit-input-placeholder {
	color: #2a3348;
	opacity: 1;
}
*:-moz-placeholder {
	color: #2a3348;
	opacity: 1;
}
*::-moz-placeholder {
	color: #2a3348;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #2a3348;
	opacity: 1;
}

body {
	font-family: 'Inter';
	font-size: 16px;
	line-height: 160%;
	color: rgba(42, 51, 72, 0.7);
	overflow-x: hidden;
	margin: 0;
	background: #f8fdff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
*:link,
*:visited,
*:hover,
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top -100px;
	background-size: cover;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	padding: 0.8333vw 0;
	font-size: 0.8333vw;
	color: #2a3348;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
	transition: all 0.3s;
}
header.fixed {
	background: #f8fdff;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	gap: 1.1458vw;
	display: inline-flex;
	align-items: center;
}
.logo__image img {
	width: 4.1667vw;
	height: auto;
}
.logo__title {
	font-size: 1.3542vw;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: #1a8a9d;
	font-weight: 900;
	display: block;
}
.logo__descr {
	font-size: 0.6771vw;
	line-height: 140%;
	color: #02272b;
}
.header__info {
	font-size: 0.7292vw;
	line-height: 140%;
}
.menu__list {
	gap: 0.625vw;
	display: flex;
	align-items: center;
	position: relative;
}
.menu__list a {
	padding: 0.625vw 0.8333vw;
	border-radius: 0.3125vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #2a3348;
	font-weight: 600;
}
.menu__list>li {
	display: flex;
	align-items: center;
}
.menu__list>li i {
	font-size: 80%;
}
.menu__dropdown {
	width: 47.76vw;
	padding: 0 1.25vw;
	border-radius: 1.25vw;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	background: #fff;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.menu__list>li:hover .menu__dropdown {
	visibility: visible;
	opacity: 1;
}
.menu__dropdown>ul {
	max-width: 17.29vw;
	position: relative;
}
.menu__dropdown>ul ul {
	width: 29.17vw;
	padding: 1.25vw 0;
	padding-left: 4.58vw;
	padding-bottom: 0;
	height: 100%;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.menu__dropdown>ul>li:first-child .menu__dropdown-arrow,
.menu__list>li:hover .menu__dropdown>ul>li:first-child>ul {
	opacity: 1;
	visibility: visible;
}
.menu__dropdown-haschild:hover .menu__dropdown-arrow,
.menu__dropdown-haschild:hover>ul {
	opacity: 1;
	visibility: visible;
}
.menu__dropdown>ul:has(> li:not(:first-child):hover)>li:first-child .menu__dropdown-arrow,
.menu__dropdown>ul:has(> li:not(:first-child):hover)>li:first-child>ul {
	opacity: 0;
	visibility: hidden;
}
.menu__dropdown>ul ul li {
	margin-bottom: 0.6vw;
}
.menu__dropdown>ul ul li:last-child {
	margin-bottom: 0;
}
.menu__dropdown>ul ul a {
	font-size: 0.88vw;
	font-weight: 400;
	text-align: left;
	padding: 0;
	display: block;
}
.menu__dropdown>ul>li>a {
	font-size: 1.25vw;
	padding: 1.56vw 0;
	line-height: 140%;
	flex: 1;
	text-transform: uppercase;
	color: #1a8a9d;
	text-align: left;
	justify-content: flex-start;
	font-weight: 600;
}
.menu__dropdown>ul>li>a:hover {
	color: #1a8a9d;
}
.menu__dropdown>ul>li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu__dropdown-arrow {
	position: relative;
	display: block;
	width: 1.25vw;
	height: 2.19vw;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0;
	transition: all 0.3s;
}
.header__contacts {
	gap: 0.7813vw;
	display: flex;
	align-items: center;
}
.phone-main {
	font-size: 0.9375vw;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.socials-list {
	gap: 0.2604vw;
	display: flex;
	align-items: center;
}
.socials-list a {
	width: 2.0833vw;
	height: 2.0833vw;
	background: #44cfd5;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.header__left {
	gap: 1.9271vw;
	display: flex;
	align-items: center;
}

.billbord,
.header__wrapper {
	padding: 0 3.8021vw;
}
.billbord {
	min-height: 52.3958vw;
	padding-top: 7.8125vw;
	position: relative;
	z-index: 1;
}
.billbord::before {
	position: absolute;
	display: block;
	content: " ";
	top: 4.4271vw;
	left: 0;
	width: 100%;
	height: 110%;
	z-index: -1;
	background-image: url(../img/bg_section1_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	pointer-events: none;
}
.billbord__image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	animation-delay: 0.2s;
}
@keyframes show {
	0% {
		opacity: 0;
		right: -100%;
		transform: scale(0.3);
	}
	100% {
		right: 0;
		transform: scale(1);
		opacity: 100%;
	}
}
.billbord__image img {
	width: 61.6667vw;
	height: auto;
}
.billbord__title {
	font-size: 9.375vw;
	line-height: 140%;
	font-weight: 900;
	display: inline-block;
	vertical-align: middle;
	animation: moveBg 20s linear infinite;
	background-image: url(../img/bt_title.jpg);
	background-size: 200%;
	background-position: 0 50%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
@keyframes moveBg {
	from {
		background-position: 0 50%;
	}
	to {
		background-position: 100% 50%;
	}
}
.billbord__head {
	font-size: 1.875vw;
	gap: 4.6875vw;
	display: flex;
	align-items: center;
	line-height: 140%;
	text-transform: uppercase;
	color: #1a8a9d;
	font-weight: 600;
}
.billbord__subtitle {
	font-size: 1.5625vw;
	margin-bottom: 1.198vw;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.billbord__info {
	margin-bottom: 2.031vw;
	gap: 2.031vw;
	display: flex;
	align-items: center;
}
.billbord__info-value {
	font-size: 2.083vw;
	line-height: 140%;
	color: #1a8a9d;
	font-weight: 600;
}
.billbord__info-value span {
	font-size: 5vw;
	line-height: 140%;
}
.billbord__info-content {
	font-size: 0.9375vw;
	max-width: 11.771vw;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
}
.billbord .btn-main {
	height: 4.375vw;
	padding: 0 3.5938vw;
}
.billbord__elements {
	margin-top: 4.1146vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.billbord__elements-item {
	width: 19.8438vw;
	font-size: 1.0417vw;
	padding: 1.25vw;
	gap: 1.25vw;
	border-radius: 0.8333vw;
	line-height: 140%;
	font-weight: 500;
	color: #2a3348;
	backdrop-filter: blur(2.0833vw);
	background: rgba(255, 255, 255, 0.4);
	display: flex;
	align-items: center;
}
.billbord__elements-icon {
	width: 2.5vw;
	height: 2.5vw;
	flex: none;
}
.billbord__elements-icon img {
	max-width: 100%;
	max-height: 100%;
}


.services {
	transition: all 0.3s;
	position: relative;
	z-index: 2;
}
.title-section {
	font-size: 56px;
	margin-bottom: 18px;
	line-height: 140%;
	font-weight: 500;
	color: #1a8a9d;
}
.head-section {
	padding-top: 70px;
	margin-bottom: 50px;
	text-align: center;
}
.title-small {
	font-size: 20px;
	line-height: 160%;
	font-weight: 500;
	color: #2a3348;
}
.title-small span {
	color: #1a8a9d;
}
.head-section::after {
	position: relative;
	display: block;
	content: " ";
	width: 300px;
	height: 20px;
	margin: 0 auto;
	margin-top: 14px;
	background-image: url(../img/wave1.svg);
	animation: moveBg 20s linear infinite;
	background-repeat: repeat-x;
	background-size: 200%;
	background-position: 0 50%;
}
.btn-main {
	height: 78px;
	padding: 0 57px;
	font-size: 16px;
	border-radius: 16px;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 500;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #44cfd5;
	cursor: pointer;
	transition: all 0.3s;
}
.row>div {
	padding: 0 14px;
}
.row {
	margin: 0 -14px;
}
.row.row--main>div {
	margin-bottom: 28px;
}
.row.row--main {
	margin-bottom: -28px;
}
.item-service {
	height: 550px;
	padding: 28px 36px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.item-service__title {
	font-size: 24px;
	padding: 16px;
	border-radius: 16px;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
	width: 100%;
	background: #fff;
	display: block;
	text-align: center;
	transition: all 1s;
}
.item-service__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	border-radius: 20px;
	transition: all 1s;
}
.item-service__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	transition: all 1s;
}
.item-service__content {
	font-size: 18px;
	max-width: 331px;
	line-height: 140%;
	font-weight: 600;
	margin-top: auto;
	display: block;
	color: #fff;
	transition: all 1s;
	opacity: 0;
}
.item-service:hover .item-service__image {
	border-radius: 60px;
	overflow: hidden;
}
.item-service:hover .item-service__image img {
	border-radius: 60px;
	filter: blur(20px);
}
.item-service:hover .item-service__content {
	opacity: 1;
}
.item-service:hover .item-service__title {
	border-radius: 40px;
	background: #44cfd5;
}

.about {
	position: relative;
	z-index: 2;
}
.about .btn-main {
	height: 58px;
	padding: 0 36px;
	margin-top: 15px;
}
.about p {
	margin-bottom: 15px;
}
.about__content {
	margin-right: -14px;
	margin-top: 30px;
}
.about__image {
	margin-top: -70px;
	margin-bottom: -40px;
}
.about__image img {
	max-width: 760px;
}
.tabs {
	padding-right: 40px;
	border-right: 1px solid rgba(84, 164, 165, 0.3);
}
.tabs__item {
	margin-bottom: 24px;
}
.tabs__item:last-child {
	margin-bottom: 0;
}
.tabs__item-content {
	padding: 20px 0;
	padding-right: 60px;
	font-size: 18px;
	line-height: 140%;
	color: #2a3348;
	display: none;
	text-align: right;
}
.tabs__item-content li {
	margin-bottom: 20px;
}
.tabs__item-content li:last-child {
	margin-bottom: 0;
}
.tabs__item-content a {
	color: inherit;
}
.tabs__item-head {
	font-size: 20px;
	gap: 24px;
	line-height: 140%;
	text-transform: uppercase;
	text-align: right;
	color: #2a3348;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	transition: all 0.3s;
}
.tabs__item.active .tabs__item-head {
	gap: 36px;
	color: #1a8a9d;
}
.tabs__item.active .tabs__item-head .tabs__item-arrow {
	filter: brightness(80%);
}
.tabs__item-arrow {
	width: 24px;
	height: 42px;
	flex: none;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}

.advantages__main {
	width: 985px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}
.advantages__image img {
	max-width: 100%;
	height: auto;
	display: block;
}
.advantages__item {
	width: 523px;
	font-size: 20px;
	padding: 6px;
	gap: 36px;
	padding-left: 36px;
	line-height: 160%;
	font-weight: 500;
	text-align: right;
	position: absolute;
	border-radius: 100px;
	display: flex;
	align-items: center;
	color: #fff;
	z-index: 2;
	transition: all 0.3s;
}
.advantages__item-content {
	width: 323px;
	flex: none;
	opacity: 0;
	transition: all 0.5s;
}
.advantages__item:before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	right: 0;
	height: 100%;
	width: 122px;
	opacity: 0;
	background: #1a8a9d;
	border-radius: 100px;
	z-index: -1;
	transition: all 0.3s;
}
.advantages__item-icon {
	width: 122px;
	height: 122px;
	border-radius: 50%;
	background: #fff;
	border: 3px solid #44cfd5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.advantages__item-icon img {
	width: 48px;
}
.advantages__item:nth-child(1) {
	top: 94px;
	left: -187px;
}
.advantages__item:nth-child(2) {
	top: 392px;
	left: -306px;
}
.advantages__item:nth-child(3) {
	bottom: 174px;
	left: -187px;
}
.advantages__item:nth-child(4) {
	top: 94px;
	right: -180px;
}
.advantages__item:nth-child(5) {
	top: 392px;
	right: -311px;
}
.advantages__item:nth-child(6) {
	bottom: 174px;
	right: -180px;
}
.advantages__item:nth-child(n+4) {
	padding: 6px;
	padding-right: 36px;
	flex-direction: row-reverse;
	text-align: left;
}
.advantages__item:nth-child(n+4)::before {
	left: 0;
	right: auto;
}

.estimate {
	position: relative;
	z-index: 2;
}
.estimate__main {
	padding: 177px 108px;
	padding-bottom: 139px;
	border-radius: 56px;
	filter: drop-shadow(0 20px 40px rgba(68, 207, 213, 0.2));
	background-image: url(../img/bg_estimate.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.estimate .head-section {
	justify-content: flex-start;
	text-align: left;
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
}
.title-middle {
	font-size: 32px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
}
.estimate .head-section::after {
	margin-left: 0;
	margin-right: 0;
}
.item-form {
	margin-bottom: 17px;
}
.item-form input,
.item-form textarea {
	height: 66px;
	padding: 0 24px;
	font-size: 16px;
	border-radius: 16px;
	width: 100%;
	background: transparent;
	border: 1px solid #2a3348;
	line-height: 160%;
	font-weight: 500;
	color: #2a3348;
	font-family: 'Inter';
}
.bottom-form {
	gap: 26px;
	padding-top: 22px;
	display: flex;
	align-items: center;
}
.checkbox {
	font-size: 12px;
	color: rgba(42, 51, 72, 0.5);
	line-height: normal;
	line-height: 150%;
}
.checkbox a {
	color: rgba(42, 41, 34, 0.45);
	border-bottom: 1px rgba(42, 41, 34, 0.45) solid;
}
.checkbox label {
	gap: 10px;
	position: relative;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.checkbox label input {
	width: 16px;
	height: 16px;
	border: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid rgba(42, 51, 72, 0.5);
	position: relative;
	flex: none;
	cursor: pointer;
}
.checkbox label input::before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
	background-image: none;
	color: rgba(42, 51, 72, 0.5);
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox input:checked:before {
	opacity: 1;
}
.estimate__form {
	padding-top: 20px;
}
.estimate__form .row>div {
	padding: 0 7px;
}
.estimate__form .row {
	margin: 0 -7px;
}

.portfolio .title-small {
	max-width: 1083px;
	margin: 0 auto;
}
.tabs-main {
	gap: 38px;
	display: flex;
	align-items: center;
}
.tabs-main li {
	flex: 1;
}
.tabs-main a {
	font-size: 20px;
	padding-bottom: 24px;
	line-height: 140%;
	text-transform: uppercase;
	text-align: center;
	color: #2a3348;
	font-weight: 500;
	display: block;
	border-bottom: 2px #2a3348 solid;
}
.tabs-main .active a {
	color: #1a8a9d;
	border-color: #1a8a9d;
}
.slider-four:not(.slick-initialized)>*:not(:first-child),
.slider-documents:not(.slick-initialized)>*:not(:first-child),
.slider-three:not(.slick-initialized)>*:not(:first-child),
.slider-two:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}
.slider-four .slick-track,
.slider-documents .slick-track,
.slider-three .slick-track,
.slider-two .slick-track {
	display: flex !important;
}
.slider-four .slick-slide,
.slider-documents .slick-slide,
.slider-three .slick-slide,
.slider-two .slick-slide {
	height: inherit !important;
}
.slider-four .slick-slide,
.slider-documents .slick-slide,
.slider-three .slick-slide,
.slider-two .slick-slide {
	padding: 0 15px;
}
.slider-four .slick-list,
.slider-documents .slick-list,
.slider-three .slick-list,
.slider-two .slick-list {
	margin: 0 -15px;
}
.tab-container-main {
	padding-top: 39px;
}
.item-portfolio {
	border-radius: 16px;
	min-height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #2a3348;
}
.item-portfolio__image {
	height: 400px;
	border-radius: 16px;
	display: block;
	width: 100%;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}
.item-portfolio__content {
	padding: 24px;
	padding-top: 18px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-portfolio__buttons {
	padding-top: 32px;
	margin-top: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-portfolio .btn-main {
	height: 58px;
	padding: 0 36px;
}
.item-portfolio__location {
	margin-bottom: 20px;
}
.item-portfolio .title-small {
	margin-bottom: 6px;
}
.item-portfolio__content strong {
	font-weight: 500;
}
.item-portfolio__line {
	margin-top: 10px;
	gap: 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.btn-main.btn-main--border {
	border: 1px solid #1a8a9d;
	color: #1a8a9d;
	background: transparent;
}
.slick-arrow {
	width: 42px;
	height: 42px;
	top: 50%;
	position: absolute;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-prev {
	left: -50px;
}
.slick-next {
	right: -50px;
}
.slick-arrow path {
	transition: all 0.3s;
}
.tab-pane-main {
	display: none;
}
.tab-pane-main:first-child {
	display: block;
}
.subtitle-section {
	font-size: 24px;
	gap: 32px;
	margin-top: 44px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.subtitle-section::after,
.subtitle-section::before {
	position: relative;
	display: block;
	content: " ";
	width: 300px;
	height: 20px;
	margin: 0 auto;
	margin-top: 14px;
	background-image: url(../img/wave1.svg);
	animation: moveBg 20s linear infinite;
	background-repeat: repeat-x;
	background-size: 200%;
	background-position: 0 50%;
}
.reviews {
	position: relative;
	z-index: 2;
}
.reviews .head-section::after {
	display: none;
}
.rating {
	gap: 4px;
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 18px;
	color: #cbcbcf;
	transition: all 0.3s;
}
.rating_1>.rating__item:nth-child(1) {
	color: #ffc011;
}
.rating_2>.rating__item:nth-child(-n+2) {
	color: #ffc011;
}
.rating_3>.rating__item:nth-child(-n+3) {
	color: #ffc011;
}
.rating_4>.rating__item:nth-child(-n+4) {
	color: #ffc011;
}
.rating_5>.rating__item:nth-child(-n+5) {
	color: #ffc011;
}
.rating__item.active {
	color: #ffc011;
}
.item-review {
	padding: 24px;
	border-radius: 16px;
	background: #fff;
	min-height: 100%;
}
.item-review__head {
	padding-bottom: 12px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(84, 164, 165, 0.3);
}
.item-review .title-small {
	margin-bottom: 12px;
}
.item-review__line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-review__location {
	color: #2a3348;
}
.reviews__button {
	padding-top: 54px;
	text-align: center;
}

.etaps {
	position: relative;
}
.etaps .head-section::after {
	display: none;
}
.etaps__wrap {
	margin-left: -30px;
}
.item-etap {
	padding: 24px;
	border-radius: 16px;
	min-height: 100%;
	background: #fff;
	position: relative;
}
.item-etap__head {
	margin-bottom: 20px;
	gap: 20px;
	display: flex;
	align-items: center;
}
.item-etap__title {
	font-size: 24px;
	padding-bottom: 12px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
	border-bottom: 1px solid rgba(84, 164, 165, 0.3);
}
.item-etap__count {
	width: 70px;
	height: 70px;
	font-size: 24px;
	line-height: 140%;
	text-align: center;
	color: #1a8a9d;
	border: 3px solid #44cfd5;
	border-radius: 50%;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	text-align: center;
}
.etaps__wrap .row>div {
	padding: 0 24px;
	margin-bottom: 60px;
}
.etaps__wrap .row {
	margin: 0 -24px;
	margin-bottom: -60px;
}
.etaps__image img {
	width: 987px;
}
.etaps__image {
	margin-left: -306px;
	margin-bottom: -50px;
	margin-top: 40px;
}
.etaps__wrap .row>div::after {
	position: absolute;
	display: block;
	content: " ";
	width: 300px;
	height: 20px;
	right: -100px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/wave1.svg);
	animation: moveBg 20s linear infinite;
	background-repeat: repeat-x;
	background-size: 200%;
	background-position: 0 50%;
	z-index: -1;
}
.etaps__wrap .row>div:last-child:after {
	display: none;
}
.etaps::before {
	position: absolute;
	display: block;
	content: " ";
	top: -80px;
	left: 0;
	width: 100%;
	height: 120%;
	z-index: -1;
	background-image: url(../img/bg_section3_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.footer {
	font-size: 14px;
	padding-top: 49px;
	line-height: 140%;
	color: #fff;
	position: relative;
	z-index: 5;
	background: #1a8a9d;
}
.footer__contacts {
	margin-top: 17px;
	gap: 15px;
	display: flex;
	align-items: center;
}
.footer .menu__list a {
	font-size: 16px;
	padding: 0;
	border-bottom: 1px transparent solid;
	color: #fff;
	background: transparent !important;
}
.footer .menu__list {
	gap: 32px;
	padding-top: 16px;
}
.footer .phone-main,
.footer .logo__descr,
.footer .logo__title {
	color: #fff;
}
.footer .socials-list img {
	filter: brightness(0) invert(1);
}
.footer__location {
	margin-bottom: 24px;
}
.footer__bottom {
	padding: 19px 0;
	margin-top: 57px;
	color: #fff;
	border-top: 1px solid #fff;
}
.footer__wrapper {
	gap: 105px;
	display: flex;
	align-items: center;
}
.footer__links a {
	color: #fff;
	border-bottom: 1px #fff solid;
}
.footer__links {
	gap: 15px;
	display: flex;
	align-items: center;
}
.create img {
	width: 57px;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}
.footer__right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.slick-dots {
	gap: 7px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.slick-dots li {
	width: 8px;
	height: 8px;
	margin: 0;
	transition: all 0.3s;
}
.slick-dots li button {
	width: 8px;
	height: 8px;
	background: #44cfd5;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
	display: block;
	font-size: 0;
	color: transparent;
}
.slick-dots li.slick-active button {
	background: #1A8A9D;
}
.slick-dots li button::before {
	display: none;
}


.page-article,
.page-news {
	padding-bottom: 90px;
	position: relative;
	z-index: 1;
}
.wrapper--page .content {
	padding-top: 90px;
}
.breadcrumbs {
	padding-top: 15px;
	padding-bottom: 9px;
	font-size: 14px;
	line-height: 160%;
	color: rgba(42, 51, 72, 0.7);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: rgba(42, 51, 72, 0.7);
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: rgba(42, 51, 72, 0.7);
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.title-section--page {
	gap: 14px;
	display: flex;
	align-items: center;
}
.title-section--page::after {
	position: relative;
	display: block;
	content: " ";
	width: 300px;
	height: 20px;
	background-image: url(../img/wave1.svg);
	animation: moveBg 20s linear infinite;
	background-repeat: repeat-x;
	background-size: 200%;
	background-position: 0 50%;
	z-index: -1;
}
.item-news {
	display: block;
	color: #2a3348;
	background: #fff;
	border-radius: 16px;
}
.item-news__image {
	height: 300px;
	margin-bottom: 18px;
	border-radius: 16px;
	display: block;
	width: 100%;
	overflow: hidden;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
	transition: all 1.5s;
}
.item-news__content {
	padding: 24px;
	padding-top: 0;
	display: block;
	width: 100%;
}
.item-news__date {
	display: block;
}
.item-news__top {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.item-news__title {
	font-size: 24px;
	margin-bottom: 16px;
	line-height: 140%;
	font-weight: 500;
	transition: all 0.3s;
	display: block;
}
.item-news__text {
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.pager {
	height: 58px;
	margin-top: 60px;
	gap: 50px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	width: 58px;
	height: 58px;
	font-size: 24px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid transparent;
}
.page-numbers:hover,
.page-numbers.current {
	border-color: #1a8a9d;
}
.prev.page-numbers,
.next.page-numbers {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	border: none;
}
.prev.page-numbers {
	left: 0px;
}
.next.page-numbers {
	right: 0px;
}
.wrapper--light {
	background-image: url(../img/bg_light.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.article-about {
	padding: 97px 136px;
	padding-bottom: 30px;
	margin-bottom: 51px;
	min-height: 518px;
	color: #fff;
	position: relative;
	z-index: 1;
}
.article-about__main {
	max-width: 736px;
}
.article-about__blurmask,
.article-about__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}
.article-about__blurmask img,
.article-about__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article-about__blurmask img,
.article-about__image img,
.article-about__blurmask,
.article-about__image {
	border-radius: 16px 228px;
}
.article-about__blurmask {
	width: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.article-about__blurmask img {
	filter: blur(10px);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.article-about__blurmask img {
	filter: blur(10px);

	-webkit-mask-image: linear-gradient(to right,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 1) 55%,
			rgba(0, 0, 0, 0) 75%,
			rgba(0, 0, 0, 0) 100%);

	mask-image: linear-gradient(to right,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 1) 55%,
			rgba(0, 0, 0, 0) 75%,
			rgba(0, 0, 0, 0) 100%);
}

.article-about h1 {
	font-size: 40px;
	margin-bottom: 33px;
	line-height: 140%;
	font-weight: 600;
}
.article-about h3 {
	font-size: 20px;
	line-height: 160%;
}
.page-article .breadcrumbs {
	padding-bottom: 25px;
}
.article-content {
	max-width: 1328px;
	margin: 0 auto;
}
.article-content h2 {
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 24px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
}
.article-content p {
	margin: 15px 0;
}
.article-content a {
	color: rgba(42, 51, 72, 0.7);
	border-bottom: 1px rgba(42, 51, 72, 0.7) solid;
}
.article-content img {
	max-width: 100%;
	margin: 39px auto;
	border-radius: 16px;
}
.article-content__head {
	margin-bottom: 24px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.article-time {
	color: #2a3348;
}
.article-content .article-content__head h2 {
	margin: 0;
}

.billbord-services__title {
	font-size: 48px;
	margin-top: 40px;
	margin-bottom: 28px;
	line-height: 140%;
	text-transform: uppercase;
	color: #1a8a9d;
	font-weight: 600;
}
.billbord-services__title strong {
	font-size: 90px;
	line-height: 140%;
	font-weight: 900;
	display: block;
}
.billbord-services__subtitle {
	font-size: 30px;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.services-includes {
	max-width: 1185px;
	margin-top: 116px;
	margin-bottom: 84px;
}
.services-includes__title {
	font-size: 24px;
	margin-bottom: 24px;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.services-includes__line {
	gap: 20px;
	display: flex;
}
.services-includes__item {
	font-size: 20px;
	padding: 24px 36px;
	border-radius: 16px;
	line-height: 140%;
	color: #1a8a9d;
	font-weight: 500;
	backdrop-filter: blur(40px);
	background: rgba(255, 255, 255, 0.4);
	flex-grow: 1;
}
.billbord-services__top {
	max-width: 587px;
}
.billbord-services__image {
	position: absolute;
	top: 0;
	right: 0;
}
.billbord-services__image img {
	width: 1231px;
}
.page-services {
	padding-top: 80px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}
.page-services::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 610px;
	background: linear-gradient(180deg, #fff 21.05%, rgba(255, 255, 255, 0) 100%);
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}
.billbord-services,
.page-services .container {
	position: relative;
	z-index: 3;
}
.page-services::after {
	position: absolute;
	display: block;
	content: " ";
	top: -110px;
	left: 0;
	width: 100%;
	height: 1050px;
	z-index: -1;
	background-image: url(../img/bg_section1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	pointer-events: none;
}
.services-includes__item:nth-child(3) {
	min-width: 278px;
}
.services-includes__item:nth-child(4) {
	min-width: 337px;
}
.billbord-services {
	padding-bottom: 200px;
}
.item-service__bottom {
	width: 100%;
	margin-top: auto;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}
.item-service__price {
	font-size: 16px;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.item-service__price span {
	font-size: 30px;
	margin-top: 8px;
	line-height: 140%;
	display: block;
}
.item-service .btn-main {
	height: 58px;
	padding: 0 36px;
}
.item-service--page::before {
	position: absolute;
	display: block;
	content: " ";
	width: 320px;
	height: 320px;
	bottom: -160px;
	left: -106px;
	background: rgba(209, 244, 253, 0.5);
	backdrop-filter: blur(20px);
	border-radius: 50%;
	pointer-events: none;
}
.item-service.item-service--page {
	height: 495px;
	padding: 22px;
}
.item-service.item-service--page:hover .item-service__image img,
.item-service.item-service--page:hover .item-service__image {
	border-radius: 20px;
}
.text-block {
	font-size: 18px;
	padding: 24px;
	border-radius: 24px;
	line-height: 160%;
	background: #fff;
}
.text-block li strong {
	font-weight: 500;
	text-transform: uppercase;
	color: #2a3348;
}
.text-block ul {
	padding-left: 20px;
}
.text-block ul li {
	margin-bottom: 20px;
	list-style-type: disc;
}
.text-block ul li:last-child {
	margin-bottom: 0;
}
.text-block ul li::marker {
	color: #2a3348;
}
.prices-services {
	padding-bottom: 20px;
}
.prices-services .head-section {
	padding-top: 0;
	text-align: left;
}
.prices-services .head-section::after {
	margin-left: 0;
	margin-right: 0;
}
.prices-services .text-block {
	margin-top: 66px;
}
.text-block h3 {
	font-size: 28px;
	margin-bottom: 24px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
}
.table-main table {
	width: 100%;
	border-spacing: 0;
}
.table-main table tr td {
	font-size: 18px;
	line-height: 140%;
	color: #2a3348;
	background: #fff;
}
.table-main table tr td,
.table-main table tr th {
	padding: 12px 14px;
}
.table-main table tr th {
	font-size: 20px;
	line-height: 140%;
	color: #fff;
	font-weight: 500;
	background: #1a8a9d;
	text-align: left;
}
.table-main table tr:nth-child(even) td {
	background: rgba(255, 255, 255, 0.5);
}
.table-main table strong {
	font-weight: 600;
}
.td-price {
	color: #1a8a9d;
	font-weight: 700;
}
.prices-services .btn-main {
	margin-top: 64px;
	height: 84px;
	font-size: 20px;
}
.about-services__content {
	padding: 24px;
	border-radius: 24px;
	background: #fff;
}
.about-services__content p {
	margin-bottom: 15px;
}
.about-services__content p:last-child {
	margin-bottom: 0;
}
.about-services__content h2 {
	font-size: 28px;
	margin-bottom: 24px;
	line-height: 140%;
	font-weight: 500;
	color: #2a3348;
}
.about-services__content img {
	border-radius: 16px;
	max-width: 100%;
	height: auto;
	display: block;
}
.types .head-section {
	text-align: left;
}
.types .head-section::after {
	margin-left: 0;
	margin-right: 0;
}
.types {
	padding-bottom: 90px;
}
.types .tabs-main li {
	max-width: 290px;
}
.item-type {
	height: 320px;
	padding: 12px;
	border-radius: 24px;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}
.item-type__image {
	border-radius: 24px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
}
.item-type__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 24px;
}
.item-type__title {
	padding: 16px;
	border-radius: 16px;
	background: #fff;
	line-height: 140%;
	text-transform: uppercase;
	color: #2a3348;
	display: block;
	font-weight: 600;
}
.types+.etaps::before {
	display: none;
}
.item-question {
	margin-bottom: 10px;
	border-radius: 24px;
	background: #fff;
}
.item-question__head {
	font-size: 28px;
	padding: 24px;
	gap: 24px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-question__head i {
	width: 78px;
	height: 78px;
	font-size: 20px;
	background: #1a8a9d;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	color: #44CFD5;
	transition: all 0.3s;
}
.item-question.active .item-question__head i {
	background: rgba(209, 244, 253, 0.5);
	color: #1a8a9d;
}
.item-question.active .item-question__head i::before {
	content: "\f068";
}
.item-question__content {
	font-size: 18px;
	padding: 24px;
	line-height: 160%;
	padding-top: 0;
	display: none;
}
.item-question__content strong {
	font-weight: 500;
	text-transform: uppercase;
	color: #2a3348;
}
.questions {
	padding-bottom: 80px;
	position: relative;
	z-index: 1;
}

.card {
	font-size: 18px;
	padding: 24px;
	border-radius: 24px;
	margin-bottom: 23px;
	line-height: 160%;
	background: #fff;
}
.title-main {
	font-size: 28px;
	margin-bottom: 24px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
}
.card img {
	border-radius: 16px;
	max-width: 100%;
	height: auto;
	display: block;
}
.card ul li {
	list-style-type: disc;
}
.card ul {
	padding-left: 20px;
}
.card ul li,
.card p {
	margin-bottom: 15px;
}
.card__content {
	max-width: 715px;
}
.advantages {
	margin-bottom: -30px;
	position: relative;
	z-index: 1;
}
.advantages::before {
	position: absolute;
	display: block;
	content: " ";
	top: -93px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(../img/bg_section2_1.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 100%;
	pointer-events: none;
}
.advantages .head-section {
	padding-top: 0;
}
.card__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.card__price {
	gap: 20px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.card__price span {
	font-size: 30px;
	line-height: 140%;
}
.card__bottom .btn-main {
	height: 68px;
	min-width: 256px;
}
.page-card .tab-container-main {
	padding-top: 28px;
}
.page-card .tabs-main a {
	padding-bottom: 14px;
}
.item-additional {
	height: 276px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	z-index: 1;
}
.item-additional__image {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	z-index: -1;
}
.item-additional__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}
.item-additional__title {
	padding: 12px 16px;
	border-radius: 16px;
	background: #fff;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.item-catalog {
	border-radius: 16px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
}
.item-catalog__image {
	height: 400px;
	border-radius: 16px;
	width: 100%;
	display: block;
	position: relative;
}
.item-catalog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}
.item-catalog__content {
	padding: 24px;
	padding-top: 18px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
}
.item-catalog__title {
	font-size: 32px;
	margin-bottom: 16px;
	line-height: 160%;
	color: #2a3348;
	font-weight: 500;
	display: block;
}
.item-catalog__text {
	font-size: 18px;
	line-height: 160%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.item-catalog__bottom {
	padding-top: 32px;
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: auto;
}
.item-catalog__price {
	gap: 16px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #2a3348;
	font-weight: 600;
}
.item-catalog__price span {
	font-size: 24px;
	line-height: 140%;
}
.item-catalog .btn-main {
	height: 58px;
	padding: 0 32px;
}
.completion__main {
	padding: 24px;
	font-size: 18px;
	border-radius: 24px;
	line-height: 160%;
	background: #fff;
}
.completion__main ol li {
	margin-bottom: 12px;
	color: #2a3348;
	font-weight: 600;
}
.completion__main ol {
	margin: 35px 0;
	padding-right: 20px;
	padding-left: 20px;
}
.completion__main ol li:last-child {
	margin-bottom: 0;
}
.completion__main .btn-main {
	margin-top: 35px;
	height: 84px;
	padding: 0 31px;
}
.completion__image {
	height: 704px;
	border-radius: 16px;
	position: relative;
}
.completion__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}
.completion__item-plus {
	width: 78px;
	height: 78px;
	font-size: 120%;
	background: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1A8A9D;
	cursor: pointer;
	transition: all 0.3s;
}
.completion__item.active .completion__item-plus {
	background: #1A8A9D;
	color: #44CFD5;
}
.completion__item {
	position: absolute;
	z-index: 1;
}
.completion__item--1 {
	bottom: 250px;
	left: 177px;
}
.completion__item--2 {
	top: 120px;
	right: 205px;
}
.completion__item--3 {
	bottom: 158px;
	right: 127px;
}
.completion__item .item-catalog {
	width: 393px;
	padding: 12px;
	top: 50%;
	transform: translateY(-50%);
	left: 100%;
	position: absolute;
	display: none;
	min-height: initial;
}
.completion__item .item-catalog__image {
	height: 257px;
}
.completion__item .item-catalog__title {
	font-size: 24px;
}
.completion__item .item-catalog__text {
	display: block;
	-webkit-line-clamp: initial;
	line-clamp: initial;
	-webkit-box-orient: initial;
	overflow: hidden;
}
.item-catalog__play {
	width: 60px;
	height: 60px;
	color: #fff;
	transition: all 0.3s;
	cursor: pointer;
	border-radius: 50%;
	background: #44CFD5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__image:hover .item-catalog__play {
	transform: scale(1.1);
}
.completion__item--2 .item-catalog {
	right: 100%;
	left: auto;
	top: 0;
	transform: none;
}
.completion__item--3 .item-catalog {
	right: 100%;
	left: auto;
	bottom: -40px;
	top: auto;
	transform: none;
}
.completion__item.active {
	z-index: 5;
}
.portfolio,
.completion {
	position: relative;
	z-index: 2;
}
.estimate+.questions {
	padding-top: 40px;
}
.page-card .breadcrumbs {
	padding-bottom: 25px;
}
.types+.turnkey .head-section {
	padding-top: 0;
}
.turnkey {
	padding-bottom: 30px;
}
.portfolio+.estimate {
	padding-top: 30px;
}
.page-catalog {
	padding-bottom: 90px;
}
.item-category {
	height: 276px;
	padding: 10px;
	z-index: 1;
	position: relative;
	display: block;
}
.item-category__image {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 24px;
	overflow: hidden;
	z-index: -1;
}
.item-category__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 24px;
	transition: all 2s;
}
.item-category__title {
	padding: 12px 16px;
	border-radius: 16px;
	background: #fff;
	text-transform: uppercase;
	color: #2a3348;
	display: inline-block;
	font-weight: 600;
}
.item-category:hover .item-category__image img {
	transform: scale(1.1);
}
.page-about {
	font-size: 18px;
	padding-top: 104px;
	padding-bottom: 200px;
	line-height: 160%;
	position: relative;
	z-index: 2;
}
.page-about p {
	margin-bottom: 15px;
}
.page-about p:last-child {
	margin-bottom: 0;
}
.page-about__image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
.page-about__image img {
	width: 1131px;
}
.page-about::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 610px;
	background: linear-gradient(180deg, #fff 21.05%, rgba(255, 255, 255, 0) 100%);
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}
.page-about .container {
	position: relative;
	z-index: 2;
}
.documents {
	padding-top: 30px;
}
.item-document {
	padding-top: 146%;
	border-radius: 24px;
	display: block;
	position: relative;
}
.item-document img {
	border-radius: 24px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.slider-documents .slick-arrow {
	bottom: 0;
	top: auto;
	transform: none;
}
.partners,
.documents {
	padding-bottom: 90px;
	position: relative;
	z-index: 1;
}
.slider-documents {
	padding-bottom: 80px;
}
.slider-documents .slick-dots {
	gap: 22px;
}
.slider-documents .slick-dots li {
	width: 58px;
	height: 58px;
}
.slider-documents .slick-dots li button {
	width: 58px;
	height: 58px;
	font-size: 24px;
	line-height: 140%;
	color: #2a3348;
	font-weight: 500;
	border: 1px solid transparent;
	background: transparent;
}
.slider-documents .slick-dots li.slick-active button {
	border-color: #1a8a9d;
}
.item-partner {
	height: 262px;
	border-radius: 24px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.documents .title-section,
.partners .title-section {
	margin-bottom: 40px;
}
.page-about .title-section {
	margin-bottom: 55px;
}
.page-contacts {
	padding-bottom: 90px;
}
#map {
	height: 336px;
	margin-top: 20px;
	border-radius: 24px;
	overflow: hidden;
	background: #fff;
}
.page-contacts__content {
	margin-right: -30px;
	padding-top: 60px;
}
.item-contact {
	font-size: 20px;
	margin-bottom: 41px;
	line-height: 160%;
	color: #2a3348;
}
.item-contact .title-main {
	margin-bottom: 24px;
}
.item-contact a {
	color: inherit;
}
.page-contacts .title-section {
	margin-bottom: 0;
}
.form-page {
	padding: 61px;
	padding-bottom: 50px;
	filter: drop-shadow(0 20px 40px rgba(68, 207, 213, 0.2));
	border-radius: 36px;
	position: relative;
	background-image: url(../img/bg_form.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	z-index: 1;
}
.form-page .item-form {
	margin-bottom: 10px;
}
.form-page .title-section {
	font-size: 42px;
	margin-bottom: 12px;
	line-height: 140%;
	display: block;
}
.form-page .title-section::after {
	margin-top: 10px;
}
.form-page .title-small {
	margin-bottom: 12px;
}
.form-page .btn-main {
	margin-top: 28px;
	display: flex;
	width: 100%;
}
.form-page .checkbox {
	margin-top: 26px;
}
.col-lg-5 .form-page {
	margin-left: 72px;
}
.about-services + .types .head-section {
	padding-top: 10px;
}
.portfolio .title-small span {
	font-size: 120%;
	font-weight: 600;
}
.etaps + .portfolio .head-section {
	padding-top: 0;
}