/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1830px) {
    .page-about__image img {
        width: 1055px;
    }
}
@media only screen and (max-width : 1700px) {
    body {
        font-size: 15px;
    }
    .title-section {
        font-size: 49px;
        margin-bottom: 16px;
    }
    .head-section {
        padding-top: 60px;
        margin-bottom: 38px;
    }
    .title-small {
        font-size: 18px;
    }
    .head-section::after {
        width: 263px;
        height: 18px;
        margin-top: 12px;
    }
    .btn-main {
        height: 68px;
        padding: 0 50px;
        font-size: 14px;
        border-radius: 14px;
    }
    .row>div {
        padding: 0 12px;
    }
    .row {
        margin: 0 -12px;
    }
    .row.row--main>div {
        margin-bottom: 25px;
    }
    .row.row--main {
        margin-bottom: -25px;
    }
    .item-service {
        height: 483px;
        padding: 25px 32px;
        border-radius: 18px;
    }
    .item-service__title {
        font-size: 21px;
        padding: 14px;
        border-radius: 14px;
    }
    .item-service__image {
        border-radius: 18px;
    }
    .item-service__image img {
        border-radius: 18px;
    }
    .item-service__content {
        font-size: 16px;
        max-width: 290px;
    }
    .item-service:hover .item-service__image {
        border-radius: 53px;
    }
    .item-service:hover .item-service__image img {
        border-radius: 53px;
    }
    .about .btn-main {
        height: 51px;
        padding: 0 32px;
        margin-top: 13px;
    }
    .about p {
        margin-bottom: 13px;
    }
    .about__content {
        margin-right: -12px;
        margin-top: 26px;
    }
    .about__image {
        margin-top: -61px;
    }
    .about__image img {
        max-width: 667px;
    }
    .tabs {
        padding-right: 35px;
    }
    .tabs__item {
        margin-bottom: 21px;
    }
    .tabs__item-content {
        padding: 18px 0;
        padding-right: 53px;
        font-size: 16px;
    }
    .tabs__item-content li {
        margin-bottom: 18px;
    }
    .tabs__item-head {
        font-size: 18px;
        gap: 21px;
    }
    .tabs__item.active .tabs__item-head,
    .tabs__item-head:hover {
        gap: 32px;
    }
    .tabs__item-arrow {
        width: 21px;
        height: 37px;
    }
    .advantages__main {
        width: 864px;
    }
    .advantages__item {
        width: 458px;
        font-size: 18px;
        padding: 5px;
        gap: 32px;
        padding-left: 32px;
        border-radius: 88px;
    }
    .advantages__item-content {
        width: 283px;
    }
    .advantages__item:before {
        width: 107px;
        border-radius: 88px;
    }
    .advantages__item-icon {
        width: 107px;
        height: 107px;
    }
    .advantages__item:nth-child(1) {
        top: 82px;
        left: -164px;
    }
    .advantages__item:nth-child(2) {
        top: 344px;
        left: -268px;
    }
    .advantages__item:nth-child(3) {
        bottom: 153px;
        left: -164px;
    }
    .advantages__item:nth-child(4) {
        top: 82px;
        right: -158px;
    }
    .advantages__item:nth-child(5) {
        top: 344px;
        right: -273px;
    }
    .advantages__item:nth-child(6) {
        bottom: 153px;
        right: -158px;
    }
    .advantages__item:nth-child(n+4) {
        padding: 5px;
        padding-right: 32px;
    }
    .estimate__main {
        padding: 155px 95px;
        padding-bottom: 122px;
        border-radius: 49px;
        filter: drop-shadow(0 18px 35px rgba(68, 207, 213, 0.2));
    }
    .estimate .head-section {
        margin-bottom: 21px;
    }
    .title-middle {
        font-size: 28px;
    }
    .item-form {
        margin-bottom: 15px;
    }
    .item-form input,
    .item-form textarea {
        height: 58px;
        padding: 0 21px;
        font-size: 14px;
        border-radius: 14px;
    }
    .bottom-form {
        gap: 23px;
        padding-top: 19px;
    }
    .checkbox {
        font-size: 11px;
    }
    .checkbox label {
        gap: 9px;
    }
    .checkbox label input {
        width: 14px;
        height: 14px;
    }
    .estimate__form {
        padding-top: 18px;
    }
    .estimate__form .row>div {
        padding: 0 6px;
    }
    .estimate__form .row {
        margin: 0 -6px;
    }
    .portfolio .title-small {
        max-width: 950px;
    }
    .tabs-main {
        gap: 33px;
    }
    .tabs-main a {
        font-size: 18px;
        padding-bottom: 21px;
    }
    .slider-documents .slick-slide,
    .slider-four .slick-slide,
    .slider-three .slick-slide,
    .slider-two .slick-slide {
        padding: 0 13px;
    }
    .slider-documents .slick-list,
    .slider-four .slick-list,
    .slider-three .slick-list,
    .slider-two .slick-list {
        margin: 0 -13px;
    }
    .tab-container-main {
        padding-top: 34px;
    }
    .item-portfolio {
        border-radius: 14px;
    }
    .item-portfolio__image {
        height: 351px;
        border-radius: 14px;
    }
    .item-portfolio__image img {
        border-radius: 14px;
    }
    .item-portfolio__content {
        padding: 21px;
        padding-top: 16px;
    }
    .item-portfolio__buttons {
        padding-top: 28px;
    }
    .item-portfolio .btn-main {
        height: 51px;
        padding: 0 32px;
    }
    .item-portfolio__location {
        margin-bottom: 18px;
    }
    .item-portfolio .title-small {
        margin-bottom: 5px;
    }
    .item-portfolio__line {
        margin-top: 9px;
        gap: 13px;
    }
    .slick-arrow {
        width: 37px;
        height: 37px;
    }
    .slick-prev {
        left: -44px;
    }
    .slick-next {
        right: -44px;
    }
    .subtitle-section {
        font-size: 21px;
        gap: 28px;
        margin-top: 39px;
    }
    .subtitle-section::after,
    .subtitle-section::before {
        width: 263px;
        height: 18px;
        margin-top: 12px;
    }
    .rating {
        gap: 4px;
    }
    .rating__item {
        font-size: 16px;
    }
    .item-review {
        padding: 21px;
        border-radius: 14px;
    }
    .item-review__head {
        padding-bottom: 11px;
        margin-bottom: 18px;
    }
    .item-review .title-small {
        margin-bottom: 11px;
    }
    .reviews__button {
        padding-top: 47px;
    }
    .etaps__wrap {
        margin-left: -26px;
    }
    .item-etap {
        padding: 21px;
        border-radius: 14px;
    }
    .item-etap__head {
        margin-bottom: 18px;
        gap: 18px;
    }
    .item-etap__title {
        font-size: 21px;
        padding-bottom: 11px;
    }
    .item-etap__count {
        width: 61px;
        height: 61px;
        font-size: 21px;
    }
    .etaps__wrap .row>div {
        padding: 0 21px;
        margin-bottom: 53px;
    }
    .etaps__wrap .row {
        margin: 0 -21px;
        margin-bottom: -53px;
    }
    .etaps__image img {
        width: 866px;
    }
    .etaps__image {
        margin-left: -268px;
        margin-bottom: -44px;
        margin-top: 35px;
    }
    .etaps__wrap .row>div::after {
        width: 263px;
        height: 18px;
        right: -88px;
    }
    .etaps::before {
        top: -70px;
    }
    .footer {
        font-size: 12px;
        padding-top: 43px;
    }
    .footer__contacts {
        margin-top: 15px;
        gap: 13px;
    }
    .footer .menu__list a {
        font-size: 14px;
    }
    .footer .menu__list {
        gap: 28px;
        padding-top: 14px;
    }
    .footer__location {
        margin-bottom: 21px;
    }
    .footer__bottom {
        padding: 17px 0;
        margin-top: 50px;
    }
    .footer__wrapper {
        gap: 92px;
    }
    .footer__links {
        gap: 13px;
    }
    .create img {
        width: 50px;
        margin-left: 4px;
    }
    .advantages__item-icon img {
        width: 40px;
    }
    .item-news__content {
        padding: 15px;
        padding-top: 0;
    }
    .item-news__title {
        font-size: 21px;
        margin-bottom: 13px;
    }
    .item-news__date {
        margin-bottom: 15px;
    }
    .item-news__image {
        height: 270px;
        margin-bottom: 16px;
    }
    .page-numbers {
        width: 52px;
        height: 52px;
        font-size: 21px;
    }
    .prev.page-numbers img,
    .next.page-numbers img {
        max-width: 21px;
        height: auto;
    }
    .pager {
        height: 52px;
        margin-top: 50px;
        gap: 40px;
    }
    .wrapper--page .content {
        padding-top: 80px;
    }
    .page-article,
    .page-news {
        padding-bottom: 80px;
    }
    .article-about {
        padding: 80px 100px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        min-height: 463px;
    }
    .article-about h1 {
        font-size: 36px;
        margin-bottom: 28px;
    }
    .article-about h3 {
        font-size: 17px;
    }
    .article-about__main {
        max-width: 655px;
    }
    .article-about__blurmask img, .article-about__image img, .article-about__blurmask, .article-about__image {
        border-radius: 16px 208px;
    }
    .article-content {
        max-width: 1200px;
    }
    .article-content h2 {
        font-size: 29px;
        margin-top: 33px;
        margin-bottom: 21px;
    }
    .billbord-services__image img {
        width: 995px;
    }
    .billbord-services__title {
        font-size: 44px;
        margin-top: 27px;
        margin-bottom: 23px;
    }
    .billbord-services__title strong {
        font-size: 79px;
    }
    .billbord-services__subtitle {
        font-size: 27px;
    }
    .services-includes__title {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .services-includes__item {
        font-size: 18px;
        padding: 20px 27px;
    }
    .services-includes {
        max-width: 1070px;
        margin-top: 80px;
        margin-bottom: 56px;
    }
    .services-includes__item:nth-child(3) {
        min-width: 243px;
    }
    .services-includes__item:nth-child(4) {
        min-width: 302px;
    }
    .billbord-services {
        padding-bottom: 155px;
    }
    .page-services {
        padding-top: 84px;
        padding-bottom: 75px;
    }
    .item-service .btn-main {
        height: 54px;
        padding: 0 32px;
    }
    .item-service__price {
        font-size: 14px;
    }
    .item-service__price span {
        font-size: 26px;
        margin-top: 4px;
    }
    .item-service--page::before {
        width: 295px;
        height: 300px;
    }
    .item-service.item-service--page {
        height: 455px;
        padding: 20px;
    }
    .table-main table tr td {
        font-size: 16px;
    }
    .table-main table tr td, .table-main table tr th {
        padding: 10px;
    }
    .table-main table tr th {
        font-size: 18px;
    }
    .text-block h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .text-block {
        font-size: 16px;
        padding: 20px;
    }
    .prices-services .btn-main {
        margin-top: 55px;
        height: 74px;
        font-size: 17px;
    }
    .about-services__content h2 {
        font-size: 25px;
        margin-bottom: 18px;
    }
    .types .tabs-main li {
        max-width: 262px;
    }
    .item-type {
        height: 300px;
    }
    .item-question__head {
        font-size: 25px;
        padding: 20px;
        gap: 20px;
    }
    .item-question__head {
        font-size: 25px;
        padding: 20px;
        gap: 20px;
    }
    .item-question__head i {
        width: 68px;
        height: 68px;
        font-size: 18px;
    }
    .item-question__content {
        font-size: 16px;
        padding: 20px;
        padding-top: 0;
    }
    .questions {
        padding-bottom: 60px;
    }
    .card {
        font-size: 16px;
        padding: 20px;
    }
    .title-main {
        font-size: 25px;
        margin-bottom: 18px;
    }
    .card__price span {
        font-size: 26px;
    }
    .card__bottom .btn-main {
        height: 60px;
        min-width: 230px;
    }
    .item-additional {
        height: 240px;
    }
    .item-additional__title {
        padding: 10px 13px;
    }
    .item-catalog__image {
        height: 355px;
    }
    .item-catalog__content {
        padding: 20px;
        padding-top: 13px;
    }
    .item-catalog__title {
        font-size: 26px;
        margin-bottom: 12px;
    }
    .item-catalog__text {
        font-size: 16px;
    }
    .item-catalog__bottom {
        padding-top: 22px;
    }
    .item-catalog__price span {
        font-size: 19px;
    }
    .item-catalog__price {
        gap: 12px;
    }
    .item-catalog .btn-main {
        height: 52px;
        padding: 0px 23px;
    }
    .completion__main {
        padding: 20px;
        font-size: 16px;
    }
    .completion__main ol {
        margin: 27px 0;
        padding-right: 15px;
    }
    .completion__main .btn-main {
        margin-top: 26px;
        height: 70px;
    }
    .completion__item .item-catalog__title {
        font-size: 21px;
    }
    .completion__item .item-catalog__image {
        height: 225px;
    }
    .completion__item .item-catalog {
        width: 355px;
        padding: 10px;
    }
    .completion__item-plus {
        width: 65px;
        height: 65px;
    }
    .completion__item--1 {
        bottom: 241px;
        left: 144px;
    }
    .completion__item--2 {
        top: 114px;
        right: 179px;
    }
    .completion__item--3 {
        bottom: 137px;
        right: 100px;
    }
    .completion__image {
        height: 630px;
    }
    .item-category__title {
        padding: 8px 8px;
        border-radius: 12px;
    }
    .item-category {
        height: 255px;
        padding: 8px;
    }
    .page-about .title-section {
        font-size: 41px;
        margin-bottom: 30px;
    }
    .page-about {
        font-size: 16px;
        padding-top: 85px;
        padding-bottom: 180px;
    }
    .page-about__image img {
        width: 935px;
    }
    .item-partner {
        height: 225px;
    }
    .partners, .documents {
        padding-bottom: 75px;
    }
    .item-contact {
        font-size: 18px;
        margin-bottom: 36px;
    }
    .col-lg-5 .form-page {
        margin-left: 53px;
    }
    .form-page .title-section {
        font-size: 38px;
    }
    .form-page .title-section::after {
        width: 275px;
    }
    .page-contacts__content {
        padding-top: 45px;
    }
    #map {
        height: 327px;
    }
}
@media only screen and (max-width : 1500px) {
    body {
        font-size: 13px;
    }
    .title-section {
        font-size: 42px;
        margin-bottom: 14px;
    }
    .head-section {
        padding-top: 71px;
        margin-bottom: 38px;
    }
    .title-small {
        font-size: 15px;
    }
    .head-section::after {
        width: 226px;
        height: 15px;
        margin-top: 10px;
    }
    .btn-main {
        height: 59px;
        padding: 0 43px;
        font-size: 12px;
        border-radius: 12px;
    }
    .row>div {
        padding: 0 10px;
    }
    .row {
        margin: 0 -10px;
    }
    .row.row--main>div {
        margin-bottom: 22px;
    }
    .row.row--main {
        margin-bottom: -22px;
    }
    .item-service {
        height: 415px;
        padding: 22px 28px;
        border-radius: 15px;
    }
    .item-service__title {
        font-size: 18px;
        padding: 12px;
        border-radius: 12px;
    }
    .item-service__image {
        border-radius: 15px;
    }
    .item-service__image img {
        border-radius: 15px;
    }
    .item-service__content {
        font-size: 14px;
        max-width: 249px;
    }
    .item-service:hover .item-service__image,
    .item-service:hover .item-service__image img {
        border-radius: 46px;
    }
    .about .btn-main {
        height: 44px;
        padding: 0 28px;
        margin-top: 11px;
    }
    .about p {
        margin-bottom: 11px;
    }
    .about__content {
        margin-right: -10px;
        margin-top: 22px;
    }
    .about__image {
        margin-top: -52px;
    }
    .about__image img {
        max-width: 573px;
    }
    .tabs {
        padding-right: 30px;
    }
    .tabs__item {
        margin-bottom: 18px;
    }
    .tabs__item-content {
        padding: 15px 0;
        padding-right: 46px;
        font-size: 14px;
    }
    .tabs__item-content li {
        margin-bottom: 15px;
    }
    .tabs__item-head {
        font-size: 15px;
        gap: 18px;
    }
    .tabs__item.active .tabs__item-head,
    .tabs__item-head:hover {
        gap: 28px;
    }
    .tabs__item-arrow {
        width: 18px;
        height: 32px;
    }
    .advantages__main {
        width: 743px;
    }
    .advantages__item {
        width: 394px;
        font-size: 15px;
        padding: 4px;
        gap: 28px;
        padding-left: 28px;
        border-radius: 76px;
    }
    .advantages__item-content {
        width: 243px;
    }
    .advantages__item:before {
        width: 92px;
        border-radius: 76px;
    }
    .advantages__item-icon {
        width: 92px;
        height: 92px;
    }
    .advantages__item:nth-child(1) {
        top: 71px;
        left: -141px;
    }
    .advantages__item:nth-child(2) {
        top: 296px;
        left: -231px;
    }
    .advantages__item:nth-child(3) {
        bottom: 132px;
        left: -141px;
    }
    .advantages__item:nth-child(4) {
        top: 71px;
        right: -136px;
    }
    .advantages__item:nth-child(5) {
        top: 296px;
        right: -235px;
    }
    .advantages__item:nth-child(6) {
        bottom: 132px;
        right: -136px;
    }
    .advantages__item:nth-child(n+4) {
        padding: 4px;
        padding-right: 28px;
    }
    .estimate__main {
        padding: 133px 82px;
        padding-bottom: 105px;
        border-radius: 42px;
        filter: drop-shadow(0 15px 30px rgba(68, 207, 213, 0.2));
    }
    .estimate .head-section {
        margin-bottom: 18px;
    }
    .title-middle {
        font-size: 24px;
    }
    .item-form {
        margin-bottom: 13px;
    }
    .item-form input,
    .item-form textarea {
        height: 50px;
        padding: 0 18px;
        font-size: 12px;
        border-radius: 12px;
    }
    .bottom-form {
        gap: 20px;
        padding-top: 16px;
    }
    .checkbox {
        font-size: 9px;
    }
    .checkbox label {
        gap: 8px;
    }
    .checkbox label input {
        width: 12px;
        height: 12px;
    }
    .estimate__form {
        padding-top: 15px;
    }
    .estimate__form .row>div {
        padding: 0 5px;
    }
    .estimate__form .row {
        margin: 0 -5px;
    }
    .portfolio .title-small {
        max-width: 817px;
    }
    .tabs-main {
        gap: 28px;
    }
    .tabs-main a {
        font-size: 15px;
        padding-bottom: 18px;
    }
    .slider-four .slick-slide,
    .slider-documents .slick-slide,
    .slider-three .slick-slide,
    .slider-two .slick-slide {
        padding: 0 11px;
    }
    .slider-four .slick-list,
    .slider-documents .slick-list,
    .slider-three .slick-list,
    .slider-two .slick-list {
        margin: 0 -11px;
    }
    .tab-container-main {
        padding-top: 29px;
    }
    .item-portfolio {
        border-radius: 12px;
    }
    .item-portfolio__image {
        height: 302px;
        border-radius: 12px;
    }
    .item-portfolio__image img {
        border-radius: 12px;
    }
    .item-portfolio__content {
        padding: 18px;
        padding-top: 14px;
    }
    .item-portfolio__buttons {
        padding-top: 24px;
    }
    .item-portfolio .btn-main {
        height: 44px;
        padding: 0 28px;
    }
    .item-portfolio__location {
        margin-bottom: 15px;
    }
    .item-portfolio .title-small {
        margin-bottom: 4px;
    }
    .item-portfolio__line {
        margin-top: 8px;
        gap: 11px;
    }
    .slick-arrow {
        width: 32px;
        height: 32px;
    }
    .slick-prev {
        left: -38px;
    }
    .slick-next {
        right: -38px;
    }
    .subtitle-section {
        font-size: 18px;
        gap: 24px;
        margin-top: 34px;
    }
    .subtitle-section::after,
    .subtitle-section::before {
        width: 226px;
        height: 15px;
        margin-top: 10px;
    }
    .rating {
        gap: 3px;
    }
    .rating__item {
        font-size: 14px;
    }
    .item-review {
        padding: 18px;
        border-radius: 12px;
    }
    .item-review__head {
        padding-bottom: 9px;
        margin-bottom: 15px;
    }
    .item-review .title-small {
        margin-bottom: 9px;
    }
    .reviews__button {
        padding-top: 40px;
    }
    .etaps__wrap {
        margin-left: -22px;
    }
    .item-etap {
        padding: 18px;
        border-radius: 12px;
    }
    .item-etap__head {
        margin-bottom: 15px;
        gap: 15px;
    }
    .item-etap__title {
        font-size: 18px;
        padding-bottom: 9px;
    }
    .item-etap__count {
        width: 52px;
        height: 52px;
        font-size: 18px;
    }
    .etaps__wrap .row>div {
        padding: 0 18px;
        margin-bottom: 46px;
    }
    .etaps__wrap .row {
        margin: 0 -18px;
        margin-bottom: -46px;
    }
    .etaps__image img {
        width: 745px;
    }
    .etaps__image {
        margin-left: -231px;
        margin-bottom: -38px;
        margin-top: 30px;
    }
    .etaps__wrap .row>div::after {
        width: 226px;
        height: 15px;
        right: -76px;
    }
    .etaps::before {
        top: -60px;
    }
    .footer {
        font-size: 10px;
        padding-top: 37px;
    }
    .footer__contacts {
        margin-top: 13px;
        gap: 11px;
    }
    .footer .menu__list a {
        font-size: 12px;
    }
    .footer .menu__list {
        gap: 24px;
        padding-top: 12px;
    }
    .footer__location {
        margin-bottom: 18px;
    }
    .footer__bottom {
        padding: 15px 0;
        margin-top: 43px;
    }
    .footer__wrapper {
        gap: 79px;
    }
    .footer__links {
        gap: 11px;
    }
    .create img {
        width: 43px;
        margin-left: 3px;
    }
    .checkbox label input::before {
        font-size: 8px;
    }
    .article-content h2 {
        font-size: 26px;
        margin-top: 29px;
        margin-bottom: 19px;
    }
    .article-content {
        max-width: 1060px;
    }
    .article-about h1 {
        font-size: 34px;
        margin-bottom: 26px;
    }
    .article-about h3 {
        font-size: 16px;
    }
    .article-about__main {
        max-width: 630px;
    }
    .article-about {
        padding: 68px 80px;
        padding-bottom: 28px;
        margin-bottom: 36px;
        min-height: 415px;
    }
    .page-services {
        padding: 60px 0;
    }
    .billbord-services__title {
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .billbord-services__title strong {
        font-size: 70px;
    }
    .billbord-services__subtitle {
        font-size: 23px;
    }
    .services-includes__title {
        font-size: 18px;
        margin-bottom: 18px;
    }
    .services-includes {
        max-width: 980px;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .services-includes__item {
        font-size: 16px;
        padding: 17px 20px;
    }
    .services-includes__item:nth-child(3) {
        min-width: 215px;
    }
    .services-includes__item:nth-child(4) {
        min-width: 244px;
    }
    .billbord-services__image img {
        width: 862px;
    }
    .item-service__price {
        font-size: 13px;
    }
    .item-service__price span {
        font-size: 23px;
        margin-top: 2px;
    }
    .item-service .btn-main {
        height: 48px;
        padding: 0 30px;
    }
    .item-service.item-service--page {
        height: 395px;
        padding: 18px;
    }
    .item-service--page::before {
        width: 270px;
        height: 285px;
    }
    .table-main table tr td {
        font-size: 14px;
    }
    .table-main table tr th {
        font-size: 15px;
    }
    .prices-services .btn-main {
        margin-top: 50px;
        height: 70px;
        font-size: 15px;
    }
    .prices-services .text-block {
        margin-top: 45px;
    }
    .text-block h3 {
        font-size: 21px;
        margin-bottom: 17px;
    }
    .text-block {
        font-size: 14px;
        padding: 16px;
    }
    .about-services__content h2 {
        font-size: 23px;
        margin-bottom: 15px;
    }
    .types .tabs-main li {
        max-width: 230px;
    }
    .item-type {
        height: 265px;
    }
    .item-question__head {
        font-size: 22px;
        padding: 18px;
        gap: 15px;
    }
    .item-question__head i {
        width: 58px;
        height: 58px;
        font-size: 16px;
    }
    .item-question__content {
        font-size: 14px;
        padding: 18px;
        padding-top: 0;
    }
    .title-main {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .completion__main {
        padding: 18px;
        font-size: 14px;
    }
    .completion__main ol {
        margin: 17px 0;
        padding-right: 12px;
    }
    .completion__main .btn-main {
        margin-top: 23px;
        height: 62px;
    }
    .completion__image {
        height: 520px;
    }
    .completion__item-plus {
        width: 60px;
        height: 60px;
    }
    .completion__item--1 {
        bottom: 196px;
        left: 135px;
    }
    .completion__item--2 {
        top: 97px;
        right: 162px;
    }
    .completion__item--3 {
        bottom: 114px;
        right: 92px;
    }
    .completion__item .item-catalog {
        width: 320px;
        padding: 8px;
    }
    .completion__item .item-catalog__image {
        height: 198px;
    }
    .item-catalog__play {
        width: 55px;
        height: 55px;
    }
    .item-catalog__content {
        padding: 15px;
        padding-top: 11px;
    }
    .completion__item .item-catalog__title {
        font-size: 17px;
    }
    .item-catalog__title {
        font-size: 22px;
        margin-bottom: 9px;
    }
    .item-catalog__text {
        font-size: 14px;
    }
    .card {
        font-size: 14px;
        padding: 18px;
    }
    .card ul li, .card p {
        margin-bottom: 12px;
    }
    .card__bottom .btn-main {
        height: 56px;
        min-width: 210px;
    }
    .item-additional {
        height: 220px;
    }
    .item-category {
        height: 225px;
    }
    .item-category__title {
        font-size: 12px;
        padding: 8px 10px;
    }
    .page-about .title-section--page::after {
        width: 220px;
    }
    .page-about {
        font-size: 14px;
        padding-top: 65px;
        padding-bottom: 150px;
    }
    .page-about .title-section {
        font-size: 39px;
        margin-bottom: 17px;
    }
    .page-about__image img {
        width: 833px;
    }
    .page-about::before {
        height: 345px;
    }
    .slider-documents .slick-dots li button {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .slider-documents .slick-dots li {
        width: 50px;
        height: 50px;
    }
    .item-partner {
        height: 200px;
    }
    .item-contact {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .col-lg-5 .form-page {
        margin-left: 40px;
    }
    .form-page {
        padding: 51px;
        padding-bottom: 47px;
    }
    .form-page .title-section {
        font-size: 34px;
    }
    #map {
        height: 294px;
    }
    .page-contacts__content {
        padding-top: 30px;
    }
}
@media only screen and (max-width : 1300px) {
    .item-service {
        height: 380px;
    }
    .tabs {
        padding-right: 20px;
    }
    .tabs__item-head {
        font-size: 14px;
    }
    .about__image img {
        max-width: 540px;
    }
    .estimate__main {
        padding: 126px 59px;
        padding-bottom: 95px;
    }
    .title-section {
        font-size: 39px;
    }
    .title-middle {
        font-size: 21px;
    }
    .subtitle-section {
        font-size: 16px;
        gap: 19px;
        margin-top: 28px;
    }
    .item-etap__head {
        margin-bottom: 13px;
        gap: 10px;
    }
    .etaps__wrap .row>div {
        padding: 0 12px;
        margin-bottom: 36px;
    }
    .etaps__wrap .row {
        margin: 0 -12px;
        margin-bottom: -36px;
    }
    .item-etap__title {
        font-size: 16px;
    }
    .wrapper--page .content {
        padding-top: 70px;
    }
    .page-article,
    .page-news {
        padding-bottom: 70px;
    }
    .item-news__image {
        height: 242px;
    }
    .item-news__title {
        font-size: 19px;
        margin-bottom: 12px;
    }
    .item-news__date {
        margin-bottom: 12px;
    }
    .item-news__content {
        padding: 12px;
        padding-top: 0;
    }
    .page-numbers {
        width: 46px;
        height: 46px;
        font-size: 18px;
    }
    .pager {
        height: 46px;
        margin-top: 45px;
        gap: 36px;
    }
    .billbord-services__title {
        font-size: 36px;
        margin-top: 23px;
        margin-bottom: 15px;
    }
    .billbord-services__title strong {
        font-size: 63px;
    }
    .billbord-services__subtitle {
        font-size: 20px;
    }
    .services-includes__title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .services-includes {
        max-width: 867px;
        margin-top: 38px;
        margin-bottom: 33px;
    }
    .services-includes__item {
        font-size: 14px;
        padding: 15px 16px;
    }
    .services-includes__item:nth-child(3) {
        min-width: 176px;
    }
    .billbord-services__image img {
        width: 780px;
    }
    .table-main table tr th {
        font-size: 13px;
    }
    .table-main table tr td {
        font-size: 12px;
    }
    .text-block h3 {
        font-size: 19px;
        margin-bottom: 15px;
    }
    .text-block {
        font-size: 13px;
        padding: 15px;
    }
    .page-services::before {
        height: 500px;
    }
    .about__image {
        margin-bottom: 0;
    }
    .item-catalog__price span {
        font-size: 17px;
    }
    .title-main {
        font-size: 20px;
    }
    .completion__item--1 {
        bottom: 194px;
        left: 102px;
    }
    .completion__item--2 {
        top: 97px;
        right: 136px;
    }
    .completion__item--3 {
        bottom: 110px;
        right: 60px;
    }
    .item-additional {
        height: 195px;
    }
    .item-catalog__image {
        height: 290px;
    }
    .item-category__title {
        font-size: 11px;
        padding: 8px 10px;
    }
    .page-about .title-section {
        font-size: 36px;
    }
    .page-about {
        font-size: 13px;
    }
    .page-about__image img {
        width: 745px;
    }
    .documents .title-section, .partners .title-section {
        margin-bottom: 25px;
    }
    .item-contact {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .item-contact .title-main {
        margin-bottom: 18px;
    }
    .form-page .title-section {
        font-size: 31px;
    }
    .form-page {
        padding: 43px;
        padding-bottom: 33px;
    }
    .form-page .title-section::after {
        width: 255px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .item-service__title {
        font-size: 15px;
    }
    .item-service {
        height: 325px;
        padding: 15px;
    }
    .tabs__item-head {
        font-size: 13px;
        gap: 8px;
    }
    .tabs {
        padding-right: 12px;
    }
    body {
        font-size: 12px;
    }
    .about__image img {
        max-width: 480px;
    }
    .title-section {
        font-size: 32px;
    }
    .title-middle {
        font-size: 18px;
    }
    .btn-main {
        height: 52px;
        padding: 0 30px;
    }
    .estimate__main {
        padding: 110px 20px;
        padding-bottom: 80px;
    }
    .item-portfolio__image {
        height: 240px;
    }
    .etaps__image img {
        width: 650px;
    }
    .etaps__image {
        margin-left: -226px;
        margin-bottom: 0px;
        margin-top: 69px;
    }
    .footer .menu__list {
        gap: 15px;
    }
    .footer__wrapper {
        gap: 55px;
    }
    .item-news__content {
        padding: 8px;
        padding-top: 0;
    }
    .item-news__title {
        font-size: 16px;
    }
    .item-news__image {
        height: 195px;
    }
    .item-service__price {
        font-size: 12px;
    }
    .item-service__price span {
        font-size: 20px;
        margin-top: 2px;
    }
    .item-service .btn-main {
        height: 43px;
        padding: 0 22px;
    }
    .item-service.item-service--page {
        height: 300px;
        padding: 16px;
    }
    .prices-services .btn-main {
        margin-top: 45px;
        height: 65px;
        font-size: 14px;
    }
    .card__price span {
        font-size: 22px;
    }
    .tabs-main a {
        font-size: 13px;
    }
    .item-additional__title {
        padding: 8px 10px;
        font-size: 9px;
    }
    .item-additional {
        height: 153px;
    }
    .item-catalog__bottom {
        display: block;
    }
    .item-catalog .btn-main {
        width: 100%;
        margin-top: 15px;
    }
    .item-catalog__price span {
        font-size: 19px;
    }
    .completion__image {
        height: 440px;
    }
    .completion__item-plus {
        width: 50px;
        height: 50px;
    }
    .completion__item--1 {
        bottom: 165px;
        left: 71px;
    }
    .completion__item--2 {
        top: 86px;
        right: 105px;
    }
    .completion__item--3 {
        bottom: 91px;
        right: 37px;
    }
    .completion__main {
        padding: 16px;
        font-size: 12px;
    }
    .completion__main ol li {
        margin-bottom: 7px;
    }
    .item-category {
        height: 195px;
    }
    .title-section--page::after {
        width: 270px;
    }
    .page-about .title-section {
        font-size: 26px;
    }
    .page-about .title-section--page::after {
        width: 170px;
    }
    .page-about {
        font-size: 12px;
        padding-top: 55px;
        padding-bottom: 90px;
    }
    .page-about__image img {
        width: 620px;
    }
    .col-lg-5 .form-page {
        margin-left: 27px;
    }
    .form-page {
        padding: 25px;
        padding-bottom: 21px;
        padding-top: 45px;
    }
    .item-contact .title-main {
        margin-bottom: 13px;
    }
    .item-contact {
        font-size: 13px;
        margin-bottom: 17px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header {
        font-size: 14px;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        background: #f3fbfe;
    }
    .header__wrapper .header__info,
    .header__wrapper .header__contacts,
    .header__wrapper .menu {
        display: none;
    }
    .header__info {
        font-size: 14px;
    }
    .phone-main {
        font-size: 14px;
    }
    .billbord, .header__wrapper {
        padding: 0 15px;
    }
    .logo {
        gap: 12px;
    }
    .logo__image img {
        width: 55px;
    }
    .logo__title {
        font-size: 18px;
        margin-bottom: 8px;
        line-height: 70%;
    }
    .logo__descr {
        font-size: 8px;
        line-height: 80%;
        display: block;
    }
    .billbord {
        padding-top: 140px;
        padding-bottom: 40px;
        min-height: initial;
    }
    .socials-list a {
        width: 40px;
        height: 40px;
    }
    .socials-list {
        gap: 10px;
    }
    .billbord__head {
        font-size: 19px;
        gap: 13px;
        margin-bottom: 15px;
    }
    .billbord__title {
        font-size: 69px;
        margin-bottom: 15px;
    }
    .billbord__subtitle {
        font-size: 16px;
        margin-bottom: 27px;
    }
    .billbord .btn-main {
        height: 55px;
        padding: 0 40px;
    }
    .btn-main {
        font-size: 14px;
        height: 55px;
    }
    .billbord__info-value {
        font-size: 30px;
        white-space: nowrap;
    }
    .billbord__info-value span {
        font-size: 55px;
    }
    .billbord::before {
        top: 71px;
        height: calc(100% - 40px);
        background-size: auto 100%;
    }
    .billbord__info-content {
        font-size: 13px;
        max-width: 150px;
    }
    .billbord__info {
        margin-bottom: 35px;
        gap: 12px;
    }
    .billbord__elements {
        margin-top: 30px;
        display: none;
    }
    .billbord__image {
        display: none;
    }

    .head-section {
        padding-top: 35px;
        margin-bottom: 25px;
    }
    .title-section {
        font-size: 28px;
    }
    .title-small {
        font-size: 14px;
    }
    .head-section .title-small br {
        display: none;
    }
    .item-service {
        padding: 25px;
    }
    .about p {
        margin-bottom: 15px;
    }
    body {
        font-size: 14px;
    }
    .about__image img {
        max-width: 100%;
    }
    .about__image {
        margin: 0;
        margin-top: 22px;
    }
    .estimate__main {
        padding: 25px 15px;
        border-radius: 20px;
        margin-top: 20px;
        background: #fff;
    }
    .bottom-form {
        flex-direction: column-reverse;
    }
    .bottom-form .btn-main {
        width: 100%;
    }
    .checkbox {
        font-size: 11px;
    }
    .checkbox label input {
        width: 16px;
        height: 16px;
    }
    .tabs-main {
        gap: 15px;
        white-space: nowrap;
        overflow: auto;
        margin-right: -15px;
        padding-bottom: 5px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .tabs::-webkit-scrollbar {
        display: none;
    }
    .slider-three,
    .slider-two {
        padding-bottom: 30px;
    }
    .etaps__image {
        display: none;
    }
    .etaps__wrap {
        margin: 0;
    }
    .subtitle-section::after, .subtitle-section::before {
        display: none;
    }
    .subtitle-section {
        margin-top: 18px;
    }
    .etaps__wrap .row>div {
        margin-bottom: 25px;
    }
    .etaps__wrap .row {
        margin-bottom: -25px;
    }
    .etaps {
        padding-bottom: 50px;
    }
    .footer__right {
        display: block;
    }
    .footer__wrapper {
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 22px 15px;
    }
    .footer__links {
        flex-wrap: wrap;
    }
    .footer__bottom {
        font-size: 13px;
        padding: 20px 0;
        margin-top: 34px;
    }
    .footer {
        font-size: 13px;
        padding-top: 30px;
    }
    .footer .menu__list {
        columns: 2;
        text-align: left;
        display: block;
    }
    .footer .menu__list a {
        font-size: 14px;
        justify-content: flex-start;
        text-align: left;
    }
    .footer .menu__list li {
        margin-bottom: 16px;
    }
    .footer__contacts {
        margin-top: 16px;
        gap: 15px;
    }
    .advantages__main {
        width: 83.333vw;
    }
    .advantages__item:nth-child(1) {
        top: 12.5vw;
        left: -4.833vw;
    }
    .advantages__item:nth-child(2) {
        top: 34.167vw;
        left: -4.833vw;
    }
    .advantages__item:nth-child(3) {
        bottom: 14.333vw;
        left: -4.833vw;
    }
    .advantages__item:nth-child(4) {
        top: 12.5vw;
        right: -4.833vw;
    }
    .advantages__item:nth-child(5) {
        top: 34.167vw;
        right: -4.833vw;
    }
    .advantages__item:nth-child(6) {
        bottom: 14.333vw;
        right: -4.833vw;
    }
    .advantages__item-icon {
        width: 11.667vw;
        height: 11.667vw;
    }
    .advantages__item-icon img {
        width: 4.5vw;
    }
    .advantages__item-content {
        width: 23.333vw;
    }
    .advantages__item {
        width: 40.333vw;
        font-size: 1.833vw;
        padding: 0.667vw;
        gap: 2vw;
        padding-left: 2.333vw;
        border-radius: 12.667vw;
    }
    .advantages__item:nth-child(n+4) {
        padding-right: 2.333vw;
    }
    .tabs__item-content {
        display: none !important;
    }
    .tabs {
        display: flex;
        gap: 15px;
        margin-right: -15px;
        padding-bottom: 5px;
        border: none;
        overflow: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .tabs::-webkit-scrollbar {
        display: none;
    }
    .tabs__item-arrow {
        display: none;
    }
    .tabs__item-title br {
        display: none;
    }
    .tabs__item-head {
        font-size: 15px;
        padding-bottom: 18px;
        color: #2a3348;
        font-weight: 500;
        display: block;
        border-bottom: 2px #2a3348 solid;
    }
    .tabs__item.active .tabs__item-head {
        border-color: #1a8a9d;
    }
    .about__content {
        margin: 0;
    }
    .estimate__main .title-section {
        font-size: 26px;
    }
    .item-portfolio__buttons {
        padding-top: 10px;
        display: block;
    }
    .item-portfolio .btn-main {
        width: 100%;
        padding: 0 10px;
        margin-top: 12px;
    }
    .item-portfolio__value strong {
        white-space: nowrap;
    }
    .reviews__button .btn-main {
        width: 290px;
        max-width: 100%;
        padding: 0 10px;
    }
    .advantages__item.active::before {
        opacity: 1;
        width: 100%;
    }
    .advantages__item.active .advantages__item-content {
        opacity: 1;
    }
    /*Style Sandwich*/
    .sandwich {
        width: 40px;
        height: 40px;
        padding-top: 12px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        border-radius: 50%;
        flex-direction: column;
        align-items: center;
        background: #44cfd5;
        z-index: 20;
        flex: none;
        cursor: pointer;
    }
    .sw-topper {
        position: relative;
        top: 0px;
        width: 20px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #2a3348;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-bottom {
        position: relative;
        top: 5px;
        width: 20px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #2a3348;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-footer {
        position: relative;
        top: 10px;
        width: 20px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #2a3348;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sandwich.active .sw-topper {
        top: 7px;
        transform: rotate(45deg);
    }
    .sandwich.active .sw-bottom {
        opacity: 0;
    }
    .sandwich.active .sw-footer {
        top: 3px;
        transform: rotate(-45deg);
    }
    .phone-mobile {
        width: 40px;
        height: 40px;
        color: #2a3348;
        background: #44cfd5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
    }
    .no-scroll {
        overflow: hidden;
    }
    .menu-overlay {
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 300;
        display: none;
    }
    .menu-mobile {
        width: 100%;
        padding: 20px 15px;
        padding-bottom: 80px;
        max-height: calc(100vh - 65px);
        top: 100%;
        left: 0;
        z-index: 600;
        background: #f3fbfe;
        position: absolute;
        color: #333;
        display: none;
        overflow: auto;
    }
    .menu-mobile .menu__list {
        display: block;
    }
    .menu-mobile .menu__list a {
        padding: 10px 0;
        text-align: left;
        justify-content: flex-start;
        flex: 1;
    }
    .menu__list>li {
        display: block;
        position: relative;
    }
    .menu__list>li i {
        width: 42px;
        height: 42px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu__list>li i::before {
        transition: all 0.3s;
    }
    .menu__list>li.active i::before {
        transform: rotate(-180deg);
    }
    .menu__dropdown>ul ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        visibility: visible !important;
        opacity: 1 !important;
        transition: initial !important;
        display: none;
    }
    .menu__dropdown>ul {
        max-width: 100%;
    }
    .menu__dropdown>ul>li {
        display: block;
        position: relative;
    }
    .menu__dropdown>ul>li>a {
        font-size: 16px;
    }
    .menu__dropdown>ul ul li {
        margin-bottom: 4px;
    }
    .menu__dropdown-arrow {
        width: 42px;
        height: 42px;
        position: absolute;
        background-size: 15px auto;
        opacity: 1 !important;
        visibility: visible !important;
        top: 0;
        right: 0;
        transition: all 0.3s;
    }
    .menu__dropdown-haschild.active .menu__dropdown-arrow {
        transform: rotate(-90deg);
    }
    .menu__dropdown>ul ul a {
        font-size: 14px;
    }
    .menu__dropdown {
        width: 100%;
        padding: 0;
        opacity: 1;
        visibility: visible;
        transition: initial;
        background: transparent;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        display: none;
    }
    .header__contacts {
        gap: 13px;
        margin: 15px 0;
    }
    .etaps__wrap .row>div::after {
        transform: rotate(90deg);
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 106px;
        bottom: auto;
    }
    .etaps__wrap {
        position: relative;
        z-index: 2;
    }
    .item-news__title {
        font-size: 18px;
    }
    .item-news__image {
        height: 220px;
    }
    .page-numbers {
        width: 38px;
        height: 38px;
        font-size: 16px;
    }
    .pager {
        height: 38px;
        margin-top: 38px;
        gap: 18px;
    }
    .prev.page-numbers img, .next.page-numbers img {
        max-width: 16px;
    }
    .page-article,
    .page-news {
        padding-bottom: 50px;
    }
    .article-about {
        padding: 25px 20px;
        margin-bottom: 32px;
        min-height: 370px;
    }
    .article-about__blurmask img, .article-about__image img, .article-about__blurmask, .article-about__image {
        border-radius: 16px;
    }
    .article-about h1 {
        font-size: 24px;
        margin-bottom: 21px;
    }
    .article-about h3 {
        font-size: 15px;
        line-height: 160%;
    }
    .page-article .breadcrumbs {
        padding-bottom: 20px;
    }
    .breadcrumbs {
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .article-content h2 {
        font-size: 21px;
        margin-top: 23px;
        margin-bottom: 17px;
    }
    .article-content img {
        margin: 25px 0;
    }
    .billbord-services__title {
        font-size: 30px;
        margin-top: 18px;
        margin-bottom: 12px;
    }
    .billbord-services__title strong {
        font-size: 50px;
    }
    .billbord-services__subtitle {
        font-size: 17px;
    }
    .services-includes__line {
        gap: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .services-includes__item {
        min-width: initial !important;
    }
    .billbord-services__image img {
        width: 670px;
    }
    .billbord-services__image {
        right: -163px;
    }
    .billbord-services {
        padding-bottom: 55px;
    }
    .prices-services .title-section {
        font-size: 25px;
    }
    .prices-services .btn-main {
        margin-top: 35px;
        height: 60px;
        width: 100%;
        max-width: 400px;
    }
    .prices-services {
        padding-bottom: 50px;
    }
    .text-block {
        font-size: 14px;
        padding: 16px;
    }
    .about-services__content p:last-child {
        margin-bottom: 15px;
    }
    .types {
        padding-bottom: 20px;
    }
    .item-question__head {
        font-size: 17px;
        padding: 15px;
        gap: 10px;
    }
    .item-question__head i {
        width: 40px;
        height: 40px;
        font-size: 13px;
    }
    .item-question__content {
        font-size: 13px;
        padding: 15px;
        padding-top: 0;
    }
    .questions {
        padding-bottom: 42px;
    }
    .table-main table tr td, .table-main table tr th {
        padding: 5px;
    }
    .page-card .breadcrumbs {
        padding-top: 0;
    }
    .card {
        padding: 15px;
    }
    .card img {
        margin-bottom: 15px;
    }
    .card__bottom {
        display: block;
    }
    .card__bottom .btn-main {
        min-width: initial;
        width: 100%;
        margin-top: 15px;
    }
    .tabs-main a {
        font-size: 14px;
    }
    .page-card .tab-container-main {
        padding-bottom: 20px;
    }
    .item-additional__title {
        padding: 10px 11px;
        font-size: 11px;
        border-radius: 12px;
    }
    .item-additional {
        height: 199px;
    }
    .turnkey {
        padding-top: 20px;
    }
    .completion__main {
        padding: 15px;
        font-size: 14px;
    }
    .completion__image {
        height: 276px;
        margin-top: 20px;
    }
    .completion__item-plus {
        width: 33px;
        height: 33px;
        font-size: 12px;
    }
    .completion__item--1 {
        bottom: 104px;
        left: 49px;
    }
    .completion__item--2 {
        top: 50px;
        right: 63px;
    }
    .completion__item--3 {
        bottom: 56px;
        right: 19px;
    }
    .completion, .turnkey {
        padding-bottom: 40px;
    }
    .completion .etaps .head-section,
    .etaps+.portfolio .head-section {
        padding-top: 0;
    }
    .completion__item .item-catalog {
        width: 200px;
        padding: 5px;
        border-radius: 12px;
    }
    .completion__item .item-catalog__image {
        height: 125px;
    }
    .completion__item .item-catalog__image,
    .completion__item .item-catalog__image img {
        border-radius: 12px;
    }
    .completion__item .item-catalog__content {
        padding: 5px;
    }
    .item-catalog__play {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }
    .completion__item .item-catalog__title {
        font-size: 14px;
    }
    .completion__item .item-catalog__text {
        font-size: 11px;
        line-height: 140%;
    }
    .item-category {
        height: 243px;
        padding: 12px;
    }
    .item-category__title {
        font-size: 13px;
        padding: 10px 12px;
        border-radius: 16px;
    }
    .page-catalog {
        padding-bottom: 65px;
    }
    .page-about__image,
    .page-about::before {
        display: none;
    }
    .page-about .title-section {
        font-size: 26px;
        margin-top: 15px;
    }
    .page-about .title-section--page::after {
        width: 135px;
    }
    .page-about {
        font-size: 14px;
        padding-top: 60px;
        padding-bottom: 5px;
    }
    .documents .title-section::after,
    .partners .title-section::after {
        display: none;
    }
    .slider-documents .slick-dots li button {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .slider-documents .slick-dots li {
        width: 40px;
        height: 40px;
    }
    .slider-documents .slick-dots {
        gap: 14px;
    }
    .partners, .documents {
        padding-bottom: 38px;
    }
    .item-partner {
        height: 154px;
        border-radius: 16px;
    }
    .slider-four {
        padding-bottom: 30px;
    }
    .item-contact {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .page-contacts__content {
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }
    .col-lg-5 .form-page {
        margin: 0;
        margin-top: 25px;
    }
    .form-page .title-section {
        font-size: 26px;
    }
    #map {
        height: 330px;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .billbord__head {
        font-size: 13px;
        gap: 13px;
        margin-bottom: 15px;
    }
    .billbord__title {
        font-size: 14vw;
        margin-bottom: 15px;
    }
    .billbord__subtitle {
        font-size: 13px;
        margin-bottom: 27px;
    }
    .advantages .head-section {
        padding-top: 35px;
    }
    .advantages {
        margin-bottom: -37px;
    }
    .etaps::before {
        display: none;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .advantages__item:hover::before {
        opacity: 1;
        width: 100%;
    }
    .advantages__item:hover .advantages__item-content {
        opacity: 1;
    }
    .phone-mobile,
    .menu-mobile,
    .show-mobile,
    .menu-overlay,
    .sandwich {
        display: none !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        max-width: 1130px;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1230px;
    }
}
@media (min-width: 1500px) {
    .container {
        max-width: 1430px;
    }
}
@media (min-width: 1700px) {
    .container {
        max-width: 1630px;
    }
}

/*hovers*/
@media (hover: hover) {
    .btn-main:hover {
        background: #1A8A9D;
        color: #fff;
    }
    .menu__list a:hover {
        color: #012782;
        background: rgba(255, 255, 255, 0.4);
    }
    .btn-main.btn-main--border:hover {
        background: #1a8a9d;
        color: #fff;
    }
    .footer .menu__list a:hover {
        border-color: #fff;
        color: #fff;
    }
    .socials-list a:hover {
        background: #1A8A9D;
    }
    .footer__links a:hover {
        border-color: transparent;
    }
    .tabs__item-head:hover {
        gap: 36px;
        color: #1a8a9d;
    }
    .tabs__item-head:hover .tabs__item-arrow {
        filter: brightness(80%);
    }
    .tabs-main a:hover {
        color: #1a8a9d;
        border-color: #1a8a9d;
    }
    .slick-arrow:hover path {
        fill: #1A8A9D;
    }
    .page-numbers:hover {
        border-color: #1a8a9d;
    }
    .prev.page-numbers:hover,
    .next.page-numbers:hover {
        filter: brightness(80%);
    }
    .item-news:hover .item-news__image img {
        transform: scale(1.1);
    }
    .item-news:hover .item-news__title {
        color: #1a8a9d;
    }
    .completion__item-plus:hover {
        background: #1A8A9D;
        color: #44CFD5;
    }
}

/*mobile hovers*/
@media (hover: none) {
    .btn-main:active {
        background: #1A8A9D;
        color: #fff;
    }
    .menu__list a:active {
        color: #012782;
        background: rgba(255, 255, 255, 0.4);
    }
    .btn-main.btn-main--border:active {
        background: #1a8a9d;
        color: #fff;
    }
    .footer .menu__list a:active {
        border-color: #fff;
        color: #fff;
    }
    .socials-list a:active {
        background: #1A8A9D;
    }
    .footer__links a:active {
        border-color: transparent;
    }
    .tabs__item-head:active {
        gap: 36px;
        color: #1a8a9d;
    }
    .tabs__item-head:active .tabs__item-arrow {
        filter: brightness(80%);
    }
    .tabs-main a:active {
        color: #1a8a9d;
        border-color: #1a8a9d;
    }
    .slick-arrow:active path {
        fill: #1A8A9D;
    }
    .page-numbers:active {
        border-color: #1a8a9d;
    }
    .prev.page-numbers:active,
    .next.page-numbers:active {
        filter: brightness(80%);
    }
    .item-news:active .item-news__image img {
        transform: scale(1.1);
    }
    .item-news:active .item-news__title {
        color: #1a8a9d;
    }
}